<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">
	
		<p:panel header="Email failed">
		<p>Your payment succeeded, but the notification email failed.</p>
		<p><h:outputText value="#{param['err']}" /></p>
		<br/>
		<!--   <p>Please contact <a href="mailto:websiteccpayments@kornferry.com">websiteccpayments@kornferry.com</a>.</p>
		-->
		</p:panel>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</ui:define>
</ui:composition>
</html>