<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">

		<script type="text/javascript">
			$(document).ready(function() {
				//$('#payBtn').removeAttr('disabled');   
				$('#payBtn').attr('disabled', 'disabled');
				var year = new Date().getFullYear();
				var selectB = document.getElementById("exp_year");
				var option = null, next_year = null;
				for (var i = 0; i &lt;= 11; i++)
				{
					option = document.createElement("option");
					next_year = parseInt(year, 10) + i;
					option.value = next_year;
					option.innerHTML = next_year;
					selectB.appendChild(option);
				}
				$('#exp_month').val("");
				$('#exp_year').val("");
				$('#card_cvc').val("");
				$('#card_number').val("");
				var j = 0;
				
				var validator = $('#f1').validate({
					//submitHandler: function(event, validator) {
						//setHiddenValue();
						//$('#f1').submit
					//},
					
					invalidHandler: function(event, validator) {
							//$('#payBtn').removeAttr('disabled');
						$('#valdate').attr('checked', false);
						j = 1;
													
					},
					rules : {
						client_name : { required : true },
						email : {
							required : true,
							email : true
						},
						contact_name : "required",
						billing_address : "required",
						name_on_card : "required",
						phone : "required",
						address_1 : "required",
						country : "required",
						state : "required",
						city : "required",
						zip : {
							/* number : true */
							zipcode: true,
						},
						bill_address_1 : "required",
						bill_country : "required",
						bill_state : "required",
						bill_city : "required",
						exp_month : "required",
						exp_year : "required",
						bill_zip : {
							/* number : true */
							zipcode: true,
						},
						/*customer_number : "required",*/
						/* invoice_numbers : "required", */
						invoice1 : {
							required : true,
							invoiceNumber: true
						}, 
						invoice2 : {
							invoiceNumber: true
						}, 
						invoice3 : {
							invoiceNumber: true
						}, 
						invoice4 : {
							invoiceNumber: true
						},
						invoice5 : {
							invoiceNumber: true
						},
						invoice6 : {
							invoiceNumber: true
						},
						invoice7 : {
							invoiceNumber: true
						},
						invoice8 : {
							invoiceNumber: true
						},
						invoice9 : {
							invoiceNumber: true
						},
						invoice10 : {
							invoiceNumber: true
						},
						invoice11 : {
							invoiceNumber: true
						},
						invoice12 : {
							invoiceNumber: true
						},
						invoice13 : {
							invoiceNumber: true
						},
						invoice14 : {
							invoiceNumber: true
						},
						invoice15 : {
							invoiceNumber: true
						},
						card_type : {
							required : true
						},	
						amount : {
							required : true,
							number : true,
							max : 5000,
							onlyTwo : true
						},
						card_number : {
							required : true,
							creditcard : true
						},
						card_cvc : {
							required : true,
							number : true
						}
					},
					messages : {
						amount : {
							max:"Please note that credit cards will not be accepted for payments over $5,000."
						}
					}
					
			    });
// 				var validator = $('#f1').validate({
// 					invalidHandler: function(event, validator) {
// 						if (errors) {
// 							$('#payBtn').removeAttr('disabled');
// 						}
// 					}
// 				});
				
				//validator.form();
				//same as billing functionality
				var prev_address_1 = "";
				var prev_address_2 = "";
				var prev_address_3 = "";
				var prev_country = "";
				var prev_city1 = "";
				var prev_state = "";
				var prev_zip = "";
			
				$('#sameasbilling').change(function() {
					if (this.checked) {
						prev_address_1 = $('#address_1').val();
						prev_address_2 = $('#address_2').val();
						prev_address_3 = $('#address_3').val();
						prev_country = $('#country').val();
						prev_city = $('#city').val();
						prev_state = $('#state').val();
						prev_zip = $('#zip').val();

						$('#address_1').val($('#bill_address_1').val());
						$('#address_2').val($('#bill_address_2').val());
						$('#address_3').val($('#bill_address_3').val());
						$('#country').val($('#bill_country').val());
						$('#city').val($('#bill_city').val());
						$('#zip').val($('#bill_zip').val());
						$('#state').val($('#bill_state').val());
					} else {
						$('#address_1').val(prev_address_1);
						$('#address_2').val(prev_address_2);
						$('#address_3').val(prev_address_3);
						$('#city').val(prev_city);
						$('#country').val(prev_country);
						$('#state').val(prev_state);
						$('#zip').val(prev_zip);
					}
					//validator.form();
				});
					
				
				$('#valdate').change(function() {
					validator.form();
					
					if(j>0){ 
						j = 0;
			            return false;
			   		 } 
					tokenize();
				});
				
								
				//$('#f1').SecureSubmit({
					//public_key : $("#test").val(),
					
					//success: function(response){
						  	  
						  //alert(response.token_value);
						
						//}
					 
					/*
					//dev only
					error : function(response) {
						console.log(response);
						//$('#errorDialog').show();
					}*/
									
				//});
				
				
				
				
				$('#amount').keyup(function () {
				    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
				        this.value = this.value.replace(/[^0-9\.]/g, '');
				     }
				});
				//escaping all special characters in the back end (servlet).
// 				$("input, textarea").blur(function(){
// 					$(this).val(RemoveBad(this.value))
// 				});
// 				var RemoveBad = function(strTemp) { 
// 				    strTemp = strTemp.replace(/[^a-z0-9\s\.\p{L}]/gi, ' '); 
// 				    return strTemp;
// 				} 
			});
			function disableBtn(){
				$('#payBtn').attr('disabled', 'disabled');
			}
			
			jQuery.validator.addMethod("zipcode", function(value, element) {
				 return this.optional(element) || /(^\d{5}(?:-\d{4})?$)|(^[A-Za-z0-9 ]{1,9}$)/.test(value);
				  //return this.optional(element) || /(^\d{5}(?:-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)|(^([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW])\ [0-9][ABD-HJLNP-UW-Z]{2}|(GIR\ 0AA)|(SAN\ TA1)|(BFPO\ (C\/O\ )?[0-9]{1,4})|((ASCN|BBND|[BFS]IQQ|PCRN|STHL|TDCU|TKCA)\ 1ZZ))$)/.test(value);
				}, "Please provide a valid US, Canadian, or British zip/postal code.");
			
			jQuery.validator.addMethod("invoiceNumber", function(value, element) {
				  return this.optional(element) || /^[1,3][9,8][5,8].*$/.test(value);
				}, "Credit cards will not be accepted for invoices beginning with the numeric sequence 902XXXXX or 159XXXXXXX. In these cases, please refer to the payment instructions at the bottom of the invoice for sending ACH payments.");
			
			
			jQuery.validator.addMethod("onlyTwo", function(value, element) {
				  return this.optional(element) || /^\d+(\.[0-9]{2})?$/.test(value);
				}, "Only two decimal places are allowed");
		
						
			function tokenize(){
			var tokenValue
			hps.tokenize({
				data: {
 					public_key: $("#test").val(),
 					number: $("#card_number").val(),
  					cvc: $("#card_cvc").val(),
  					exp_month: $("#exp_month").val(),
  					exp_year: $("#exp_year").val(),
				},
				success: function(response) { 
  					    

 					tokenValue = response.token_value;
  					$('#token_value').val(tokenValue);
 					//alert('In tokenize')
 					//alert(tokenValue);
 					//$("#card_type").removeAttr("name");
 					$("#card_number").removeAttr("name");
 					 $("#card_cvc").removeAttr("name");
 	                $("#exp_month").removeAttr("name");
 	                $("#exp_year").removeAttr("name");	
 	               $('#payBtn').removeAttr('disabled');
  					
  					//tokenType = response.token_type;
  					//tokenExpire = response.token_expire;
				},
				error: function(response) { 
 					 /** Handle Token Error */
 					alert('Error getting token')
					}
				});
			
			}

			$(document).ready(function() {
				var i = 2
						
				$('#addInvoice').click(function () {
					// limiting it to 5 total invoice boxes
					
					if(i>=6){ 
			            return false;
			   		 } 
						
				// alert('addInvoice button clicked');
				$('#addInvoice').before('<div class="invc"><input class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" type="text" name="invoice' + i + '" value=""/></div>');
				i++;
				});
								
			 });
					
						
			
		</script>
		<div class="main-container">
			<p>Welcome to the Korn Ferry Credit Card transaction site.</p>
			<p>By accessing this site you have chosen to pay your invoice
				through use of a valid Master Card, Visa, Discover, JCB, or American
				Express credit card.</p>
			<p>Please note that credit cards will not be accepted for payments of invoices over $5,000, 
			    or for invoices beginning with the numeric sequence 902XXXXX or 159XXXXXXX.  In these cases, 
			    please refer to the payment instructions at the bottom of the invoice for sending ACH payments.</p>
			<p>To proceed with this transaction please complete the following
				fields below.</p>
			<p>When all appropriate fields have been entered, please click on
				the submit button to transmit your payment.</p>
			<p>
				If you have questions or experience difficulty using this site,
				please contact KFI customer service at <a
					href="mailto:websiteccpayments@kornferry.com">websiteccpayments@kornferry.com</a>
			</p>
			<p>
				<b>If you have reached this site in error please exit now by
					closing this webpage.</b>
			</p>
			<p>Thank you for your business and valued business partnership
				with Korn Ferry International.</p>
			<p>Please accurately complete each of the respective fields with
				the requested information. Utilize the pop-up reference areas
				indicated to assist in locating select information.</p>
			<br/><br/>
		<h:form id="f1" prependId="false">
			<input type="hidden" id="test" value="#{paymentViewBean.apiKey}" />
			
			<p:panel header="Billing Details">
				<h:panelGrid columns="2" styleClass="payment-grid-panel">
						<h:outputText value=" " />
						<p:inputText type="hidden" id="token_value" name="token_value" value="#{paymentViewBean.tokenValue}" />
						<h:outputText value="Company Name*" />
						<p:inputText id="client_name" value="#{paymentViewBean.clientName}" />

						<h:outputText value="Invoice number(s)*" />
						<p:inputText id="invoice1" value=" " />
						<p:outputPanel>&nbsp;</p:outputPanel>
						<input id="addInvoice" type="button" value="Add Invoice"/>
						<h:outputText value="Amount (USD)*" />
						<p:outputPanel>
							<p:inputText id="amount" value="#{paymentViewBean.amount}"/>
							<p:watermark for="amount" value="0000.00" />
						</p:outputPanel>

						<h:outputText value="Name on Card*" />
						<p:inputText id="name_on_card" value="#{paymentViewBean.nameOnCard}" />

						<h:outputText value="Address 1*" />
						<p:inputText id="bill_address_1" value="#{paymentViewBean.billAddress1}" />

						<h:outputText value="Address 2" />
						<p:inputText id="bill_address_2" value="#{paymentViewBean.billAddress2}" />

						<h:outputText value="Address 3" />
						<p:inputText id="bill_address_3" value="#{paymentViewBean.billAddress3}" />

						<h:outputText value="Country*" />
						<p:inputText id="bill_country" value="#{paymentViewBean.billCountry}" />

						<h:outputText value="State/Province/Region*" />
						<p:inputText id="bill_state" value="#{paymentViewBean.billState}" />

						<h:outputText value="City/Town*" />
						<p:inputText id="bill_city" value="#{paymentViewBean.billCityTown}" />

						<h:outputText value="Zip/Postal Code" />
						<p:inputText id="bill_zip" value="#{paymentViewBean.billZipCode}" />
						
						<h:outputText value="Card Type"></h:outputText>
						<select name="card_type" id="card_type" >
							<option value="#{paymentViewBean.cardType}"></option>
							<option value="Visa">Visa</option>
							<option value="MasterCard">Master Card</option>
							<option value="AmericanExpress">American Express</option>
							<option value="Discover">Discover</option>
						</select>
										
						<h:outputText value="Card number*" />
						<p:inputText id="card_number" value="#{paymentViewBean.cardNumber}" autocomplete="off" />

						<h:outputText value="Card Verification Code*" />
						<p:outputPanel>
							<p:inputText id="card_cvc" value="#{paymentViewBean.cardCvC}" autocomplete="off" />

							<h:outputText styleClass="tt-link" value="?" id="tip_cvc">
							</h:outputText>
							<p:tooltip for="tip_cvc">
								<p:graphicImage value="#{resource['images/csc-code.jpg']}" />
							</p:tooltip>
						</p:outputPanel>
						<h:outputText value="Exp month*"></h:outputText>
						<select name="exp_month" id="exp_month" >
							<option value="#{paymentViewBean.expMonth}"></option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<!-- 						<p:inputText id="exp_month" value="" maxlength="2"/> -->

						<h:outputText value="Exp year*"></h:outputText>
						<select name="exp_year" id="exp_year">
							<option value="#{paymentViewBean.expYear}"></option>
						</select>
						<!-- 						<p:inputMask id="exp_year" value="" mask="2099" /> -->

						<h:outputText value="Other Comments"></h:outputText>
						<p:inputTextarea id="other_comments" value="#{paymentViewBean.otherComments}" />

					</h:panelGrid>
				</p:panel>

				<p:panel header="Contact Details">
					<h:panelGrid columns="2" styleClass="payment-grid-panel">

						<h:outputText value="Name*" />
						<p:inputText id="contact_name" value="#{paymentViewBean.contactName}" />

						<h:outputText value="Phone*" />
						<p:inputText id="phone" value="#{paymentViewBean.contactPhone}" />

						<h:outputText value="Email*" />
						<p:inputText id="email" value="#{paymentViewBean.contactEmail}" />

						<p:spacer />
						<p:spacer />

						<h:outputText value="Same as Billing Details" />
						<input type="checkbox" id="sameasbilling" name="sameasbilling" />
						<!-- <p:selectBooleanCheckbox id="sameasbilling" value="#{paymentViewBean.sameAsBillingAddr}" /> -->

						<h:outputText value="Address 1*" />
						<p:inputText id="address_1" value="#{paymentViewBean.contactAddress1}" />

						<h:outputText value="Address 2" />
						<p:inputText id="address_2" value="#{paymentViewBean.contactAddress2}" />

						<h:outputText value="Address 3" />
						<p:inputText id="address_3" value="#{paymentViewBean.contactAddress3}" />

						<h:outputText value="Country*" />
						<p:inputText id="country" value="#{paymentViewBean.contactCountry}" />

						<h:outputText value="State/Province/Region*" />
						<p:inputText id="state" value="#{paymentViewBean.contactState}" />

						<h:outputText value="City/Town*" />
						<p:inputText id="city" value="#{paymentViewBean.contactCityTown}" />

						<h:outputText value="Zip/Postal Code" />
						<p:inputText id="zip" value="#{paymentViewBean.contactZipCode}" />

						<h:outputText value="Click to Validate" />
						<input type="checkbox" id="valdate" name="valdate" class="ui-chkbox ui-widget"/>
																				
						<p:outputPanel>Enabled after Validation</p:outputPanel>
						<h:commandButton id="payBtn" value="Submit" action="#{paymentControllerBean.processForm}" onclick="setTimeout('document.getElementById(\'' + this.id + '\').disabled=true;', 50);">
						</h:commandButton>
					
					</h:panelGrid>

				</p:panel>

		</h:form>


		</div>

	</ui:define>
</ui:composition>
</html>