/* DIALOG Box close button overide */
/* .ui-widget textarea, .ui-widget input{ */
/* 	padding-top:0.4em; */
/* 	padding-bottom:0.4em; */
/* } */
.ui-dialog .ui-dialog-titlebar-close {
	position: relative;
	right: 0em;
	top: 8;
	width: 18px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}
.ui-breadcrumb {
	padding-left:20px;
}
.ui-datatable th{
	vertical-align:top;
}
.ui-confirm-dialog-severity {
	margin-top: 0;
	left: 12px;
}
/*   */
.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px !important;
}
.ui-layout-pane-north{
	border:0;
	position:relative !important;
}
.ui-chkbox{
	margin-right:8px;  /* fix for IE7 and below NHN-2128  */
}
/* Input field overides */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #ffffff;
    color: #000000;
    box-shadow:none !important;
}
.ui-selectonemenu {
	border-collapse: collapse !important;
	min-width:110px;
}
/*old school input feilds*/
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #ffffff;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
    color: #313131;
}
.ui-panel {
 	padding-bottom: .8em !important; /* also IE7 fix for login panel, button floating over bottom edge */
}
.body{
	margin:0px;
	padding:0px;
}
.ui-layout-unit {
	padding: 0em !important;
}
.ui-layout-unit .ui-layout-unit-content {
	padding: 0em !important;
}
div#content{
	margin:0px !important;
}
.ui-growl-icon-close {
	left: 337px !important;
}
.ui-growl-item {
	padding: 20px 20px 20px 20px !important;
}
.ui-growl {   
    position:fixed !important;
    top: 40% !important;
    left: 37% !important;
    width: 360px !important;
    z-index:9999 !important;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.ui-growl-item-container{opacity:0.97 !important; margin: 0 0 0px 0 !important;filter: alpha(opacity=95) important;}
.ui-growl-message {    width: 280px !important;}

.ui-panelgrid tr, .ui-panelgrid td {
	border: none !important;
}