@CHARSET "ISO-8859-1";

html, body {
	text-align: center;
}
body {
	background-color: #fff;
	color: #000;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	/*padding-bottom: 28px;*/
}
.titleHeader{
	float:right;
	color:#fff;
	margin-top: 49px;
	margin-right: 45px;
	font-size:0.8em !important;
}
.headerLineHeight {
	line-height: 1em;
}

/**
* global content width definition, removed width:920px from each of these
*/
#languageBar,
#container,
.header,
.footer {
	width: 100%;
	max-width: 960px;
}

#languageBar {
	position: relative;
	height: 25px;
	font-size: .9em;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding: 2px 0 2px 0;
}
.body_text {
	color: #000;
	font-size: 1.1px;
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #99938b;
	background-color: #ffffff;
	text-align: left;
	height: 100%;
}

.loginInputField {
	width:100%;
	max-width: 265px; 
	float:right;
}

.reqDing, .usernameReqDing {
	color: red;
	font-weight: bold;
}
h1 {
	color: #214f5e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	position: relative;
}
.h1 {
	color: #214f5e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	position: relative;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em !important;
	font-weight: normal;
	color: #22505f;
	line-height: 1.1em !important;
}
.h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em !important;
	font-weight: normal;
	line-height: 1.1em !important;
	color: #22505f;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #000;
}
.h3 {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #000;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	font-weight: normal;
	color: #806a59;
	margin-bottom: .5em;
}
.h4 {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #806a59;
}
h5 { /*Project li small */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000;
}
.h5 {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000;
}
h6 { /*Project li supersmall */
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	font-weight: normal;
	color: #000;
}
.h6 {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	font-weight: normal;
	color: #000;
}
.payment-grid-panel{
	
}
.logoImg {
	color:#fff;
	position: relative;
	top: 34px;
	left: 45px;
}
.smallTextSize {
	font-size: .85em !important;
}
.smallerTextSize {
	font-size: .75em !important;
}
.grayLink {
	color: #675c53;
	text-decoration: none;
}
a.grayLink:link {
	text-decoration: none;
	color: #675c53;
}
a.grayLink:visited {
	text-decoration: none;
	color: #675c53;
}
a.grayLink:active {
	text-decoration: underline;
	color: #000000;
}
a.grayLink:hover {
	text-decoration: underline;
	color: #333333;
}
.greenLink {
	color: #3e4519;
	text-decoration: none;
	cursor: pointer;
}
a.greenLink:link {
	text-decoration: none;
	color: #878800;
}
a.greenLink:visited {
	text-decoration: none;
	color: #878800;
}
a.greenLink:active {
	text-decoration: underline;
	color: #878800;
}
a.greenLink:hover {
	text-decoration: underline;
	color: #3e4519;
}
.liteBlueLink {
	color: #99c9cc;
	text-decoration: none;
}
a.liteBlueLink:link {
	text-decoration: none;
	color: #99c9cc;
}
a.liteBlueLink:visited {
	text-decoration: none;
	color: #99c9cc;
}
a.liteBlueLink:active {
	text-decoration: underline;
	color: #99c9cc;
}
a.liteBlueLink:hover {
	text-decoration: underline;
	color: #99c9cc;
}
.alignCenter {
	text-align: center;
}
.alignRight {
	text-align: right;
}
.alignLeft {
	text-align: left;
}
.form_label {
	color: #1a3e49;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: .06em;
}
.form_table td {
	vertical-align: middle;
}
.labelDiv {
	float:left;
	padding-top: 5px;
}
.form_login_label {
	color: #007a87;
	font-weight: bold;
	font-size: .9em;
	padding-right: 10px;
	text-transform: uppercase;
}
.projectLabel {
	font-weight: bold;
}
.label_offset {
	position: relative;
	bottom: 5px;
}
label.label {
	font-size: .75em;
	white-space: nowrap;
	text-align: right;
	display: block;
}

.accountSectionHeader {
	color: #3e4519; 
	font-size: .8em;
	font-weight: bold;
}
.accountSectionHeader.subseq {
	display:block; 
	margin-top:10px
}

.accountFieldMsg {
	padding-left:5px;
	color:red; display: inline-block;
}

.form_input_halfWidth {
	width: 154px;
}
.form_input {
	width: 300px;
}
.content_margin {
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
.header {
	height: 118px;
	position: relative;
	background-color: rgb(0, 168, 130);
}
/*a.btn{
	display: block; 
	white-space:nowrap;
	background:url(images/btn.png);
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	padding-top:3px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	width:117px;
	height:23px;
}*/

/* REQUIRED BUTTON STYLES: */		
button {
	position: relative;
	border: 0;
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}
 button::-moz-focus-inner {
 border: none;  /* overrides extra padding in Firefox */
}
button span {
	position: relative;
	display: block;
	white-space: nowrap;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Google Chrome only - fix margins */
button span {
	margin-top: -1px;
}
}
/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.submitBtn {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	height: 23px;
	text-align: center;
	background: transparent url(images/btnLeft.png) no-repeat left top;
	cursor: pointer;
}
button.submitBtn span {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	height: 23px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 97px;
	margin-right: -4px;
	background: transparent url(images/btnRight.png) no-repeat right top;
}
button.submitBtn p {
	position: relative;
	top: 1px;
}
/*button.submitBtn:hover, button.submitBtnHover { /* the redundant class is used to apply the hover state with a script */
	/*background-position: right -210px; 
}*/
	
/*button.submitBtn:hover span, button.submitBtnHover span {
	background-position: 0 -70px;
}*/

a.getAdobe {
	display: block;
	background: url(images/get_adobe.png);
	background-repeat: no-repeat;
	width: 158px;
	height: 39px;
}
.fullWidth {
	width: 380px;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.footer {
	margin-top: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
	border-top: 1px solid #99938b;
	font-size: .7em;
	color: #675c53;
}
.leftFoot {
	float: left;
	clear: left;
	padding-left: 30px;
	padding-bottom: 5px;
}
.rightFoot {
	float: right;
	clear: right;
	padding-right: 30px;
	padding-bottom: 5px;
	cursor: pointer;
}

.popup {
	position: relative;
	border: 1px solid #aea79f;
	background-color: #ebe9e7;
	padding: 40px;
}

.popUpHeaderInside {
	padding-top: 20px;
}
.popUpContent {
	width: 400px;
	height: 150px;
	overflow: auto;
}
.error {
	color: red;
	/* white-space: nowrap; */
	white-space: normal;
	border-top: thin dotted #8F8F8F;
}
.lostPasswordFeild {
	width: 400px;
}
.accountForm {
	width: 460px;
	margin-left: auto;
	margin-right: auto;
}
.nav {
	position: absolute;
	right: 15px;
	top: 10px;
}
.nav .ui-widget {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
.popUpContainer {
	position: relative;
	margin-top: 85px;
	margin-bottom: 85px;
	width: 480px;
	left: 220px;
}

.loginContainer {
	position: relative;
	margin-top: 85px;
	width: 50%;
	left: 25%;
}

.accountContainer {
	position: relative;
	margin-top: 35px;
	width: 60%;
	left: 20%;
}

.welcome {
	padding-left: 10px;
}
.absoRight {
	position: absolute;
	right: 0px;
}
.consent {
	font-size: 12px;
}
.consentText {
	display: block;
	border: 1px solid #aea79f;
	padding: 10px;
	padding-bottom: 35px;
	height: 215px;
	overflow: auto;
}
.consentText ul {
	list-style: disc outside none;
	margin-left: 30px;
}
.consentText li {
	margin-bottom: 16px;
}
.consentBtns {
	width: 100%;
}
.setup {
	padding-bottom: 50px;
}
.btns_right {
	position: absolute;
	right: 0px;
	text-align: right;
	padding-top: 12px;
}
.btns_left {
	position: absolute;
	text-align: left;
	padding-top: 12px;
}
.withCancel {
}
.dashboardTable td {
	padding-left: 80px;
}
.floatR {
	float: right;
}
.floatL {
	float: left;
}
.TLT_home {
	float: left;
	width: 400px;
}
.instTD {
	vertical-align: top;
	width: 340px;
	height: 110px;
}
.instrumentInfo {
	position: absolute;
	padding: 20px;
	padding-top: 0px;
	width: 315px;
}

.statusImg99, .statusImg0, .statusImg1, .statusImg2 {
	width: 16px;
	height: 16px;
	display: block;
	float:left;
	background-repeat: no-repeat; 
	margin-right:5px;
}

.statusImg99, .statusImg0   {
	background-image: url(images/instrument_status__0.png);
}

.statusImg99.dis, .statusImg0.dis {
	background-image: url(images/instrument_status__0_dis.png);
}

.statusImg1 {
	background-image: url(images/instrument_status__1.png);
}
.statusImg1.dis {
	background-image: url(images/instrument_status__1_dis.png);
}

.statusImg2 {
	background-image: url(images/instrument_status__2.png);
}
.statusImg2.dis {
	background-image: url(images/instrument_status__2_dis.png);
}

.completedInst, .instStatus_2 {
	color: #675c53;
}
.instLink.dis, .instLabel.dis {
	color: #c3c3c3;
	cursor: text;
}
.disabledText {
	color: #c3c3c3;
	cursor: text;
	text-decoration: none;
}
.phase1 {
	display: none;
}
.phase2 {
	display: none;
}
.phase3 {
	display: none;
}
.phase4 {
	display: none;
}
.phase5 {
	display: none;
}
#pageHeader {
	background-image: url(images/logoFull.png);
	background-repeat: no-repeat;
}
/* added for coaching 	*/
.assignment-box {
	margin-left: 10px;
	margin-bottom: 15px;
	padding: 10px;
	border: solid #AEA79F 1px;
	width:225px;
	height:auto;
	min-height: 150px;
}

.assignment-box-spacer{
/* not used */
	display: block;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 230px;
	padding: 10px 10px 8px 10px;
	height: 112px;
	border: dotted #FFFFFF 1px;
}

.assignment-text {
	margin-bottom: 10px;
}
.assignment-mod-date {
	position:static;
	float:right;
}
hr {
	background: none repeat scroll 0 0 #AEA79F;
	border-top: 1px solid #AEA79F;
	color: #AEA79F;
}
.dashboard {
	display: block;
}
.dashboard-br{
	line-height:.7em;
}
.assignment-br{
	line-height:.5em;
}
.dashboard-instructions-column {
	font-size:1em;
}
.dashboard-table {
	width: 100%;
}
.dashboard-table td {
	vertical-align: top;
}
.info-column {
}
.dashboard-special-tabs .ui-tabs-nav li {
	float: right !important;
}
.dashboard-special-tabs {
	background: none repeat scroll 0 0 transparent;
	border: 0 none !important;
	color: #000000;
	position: relative;
	top: -32px;
}
.dashboard-tabs-hidden{
	top:0 !important;
}
.dashboard-special-tabs .ui-widget-header {
	background: none !important;
	border: none !important;/*padding-left: 640px;*/
}
.dashboard-special-tabs .ui-tabs-nav {
	padding: 0 50px;
}
.dashboard-special-tabs .ui-tabs-panel {
	padding: 0 !important;
}
.coachees-table{
	width:100%;
	vertical-align:middle;
}
.coachees-table th {
	padding:3px;
}
.coachees-table td {
	border-collapse:collapse;
	border:#AEA79F 1px solid;
	padding:5px 3px;
}
.coachees-type-column{
	width:16px;	
}
.coachees-date-column input{
	border:none;
	border:0;
	width: 75px;
	padding:0 3px;
}
.coachees-date-column {
	width:102px;
}
.coachees-status-column {
	width:41px;
}
.icon{
	display:block;
	width:16px;
	height:16px;
}
.icon-clipboard{
	background-repeat:no-repeat;
	background-image:url(images/icon_clipboard.png);	
}

.submit-dialog-button{
	float:right;
	/*clear:right;*/
	margin-top:6px;
}


.tab {
	font-weight:bold;
	font-size: .8em !important;
	color:#ffffff;
	background:none;
	border:none;
	cursor:pointer;
	text-align: center !important;
}

.tab-background {
	background-color: #618a94 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-disabled {
	color: #e3e3e3 !important;
	font-size: .8em !important;
	font-weight:bold;
	background:none;
	border:none;
	text-align: center !important;
}

.tab-disabled-background {
	background: #cfeff7 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-selected {
	color:#22505f;	
	font-weight:bold;
	font-size: .8em !important;
	text-align: center !important;
	background:none;
	border:none;
}

.tab-selected-background {
	background: #ffffff !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tabBtn{
	position: absolute;
	top: 25px; 
}

.floatLeft {
	float:left;
}

.floatRight {
	float:right;
}
.clearBoth {
	clear: both;
}

.noMobileMessage {
	color:#ababab;
}
.launchLink {
	width:89%;
}
.projInstStatus0, .projInstStatus1, .projInstStatus2, .projInstStatus3 {
	background-repeat: no-repeat;
	width:24px; height:11px;
	text-align: center;
	margin:auto;
}
.projInstStatus0 {
	background-image: url(images/instrument_not_activated.png);
}
.projInstStatus1 {
	background-image: url(images/instrument_not_started.png);
}
.projInstStatus2 {
	background-image: url(images/instrument_started.png);
}
.projInstStatus3 {
	background-image: url(images/instrument_completed.png);
}

.dateTimeField input {
	width:70px;
}

.coachControlColumn {
	text-align: center;
	margin:auto;
}

.dashboard-instructions-column {
	float:left; 
	width: 41%;
	padding-right:1%;
}

.launcherBlock {
	float:right; 
	display: block; 
	width:58%;
}

.invc {
	padding-top: 3px;
	padding-bottom: 4px; 
}

@media screen and (max-width: 984px) {
	.loginContainer {
		margin-top: 45px;
		width: 50%;
		left: 25%;
	}
	.dashboard-instructions-column {
		float:none;
		width:100%;
	}
	.floatLeft, .floatRight, .launcherBlock {
		float: none;
		width:100%;
	}
	.assignment-box {	
		width:100%;
		height: auto;
		min-height:50px;
		margin-left: 0px;
		margin-right: 35px;
	}
	
}

@media screen and (max-width: 480px) {
	.labelDiv {
		float: none;
		padding-top:inherit;
	}
	.loginContainer {
		margin-top: 5px;
		width: 100%;
		left: 5%;
	}
	.dashboard-instructions-column {
		float:none;
		width:100%;
	}
	.floatLeft, .floatRight, .launcherBlock {
		float: none;
		width:100%;
	}
	.logoImg {
		color:#FFF;
		left:45px;
		top:34px;
		position: relative;
	}
	.assignment-box {
		width:100%;
		height: auto;
		min-height:50px;
		margin-left: 0px;
		margin-right: 35px;
	}
	.launchLink {
		width:100%;
	}
}