<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<f:view contentType="text/html"/>
<h:head>
<title>Invoice Payment - Korn Ferry: Leadership &amp; Talent Consulting, Executive Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<h:outputText escape="false">
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</h:outputText>
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="portal.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />

<link rel="icon"
	href="#{resource['images/favicon.ico']}"
	type="image/x-icon" />
<h:outputScript library="js" name="secure.submit-1.0.1.js"></h:outputScript>
<h:outputScript library="js" name="jquery.validate.min.js"></h:outputScript>
<h:outputScript library="js" name="additional-methods.js"></h:outputScript>
<!-- <h:outputScript library="js" name="jquery-1.9.1.js"></h:outputScript> -->
<script type="text/javascript">
	//var $jQ191 = $.noConflict(true);
</script>
</h:head>
<h:body>
<!-- 	<h:form id="frmLanguage" style="margin:0;">		  -->
<!-- 		<p:idleMonitor   -->
<!-- 			timeout="${(request.session.maxInactiveInterval*1000)-60000}"  -->
<!-- 			onidle="timeoutDialog.show()"/> -->
<!-- 		<div id="languageBar"> -->
<!-- 			<h:selectOneMenu value="#{sessionBean.languageCode}"> -->
<!-- 				<f:selectItems value="#{sessionBean.languages}" var="lang" itemValue="#{lang.code}" itemLabel="#{lang.transNameUnicode}"/> -->
<!-- 				<p:ajax listener="#{langSwitchBean.handleLanguageSwitch}" oncomplete="location.href=location.href"/> -->
<!-- 			</h:selectOneMenu> -->
<!-- 		</div> -->
<!-- 	</h:form> -->
	<div id="container">
		<ui:insert name="header">
				<div class="header">
<!-- 					<h:graphicImage value="#{resource['images/PDI_KF_Logo_Wht.png']}" alt="PDI Ninth House" styleClass="logoImg" /> -->
						<h:graphicImage value="#{resource['images/kf_logo.png']}" alt="Korn Ferry" styleClass="logoImg" />
						<h5 class="titleHeader">Leadership Consulting Corporation</h5>
				</div>	
		</ui:insert>	
		<div id="content">
			<div class="content_margin">
				<ui:insert name="content" />
			</div>	
		</div>
		<div class="clearBoth"></div>
		<div id="footer" class="footer">
			<ui:insert name="footer">
				<div class="leftFoot">
					<h:outputText value="#{appMsgs['footer.copyright']}" escape="false"/>
					&nbsp;
<!-- 					<h:link id="privacyPolicyLink" outcome="privacyPolicy.xhtml?lang=#{sessionBean.languageCode}" target="_blank" style="color:#675C53" value="Privacy Policy"/> -->
					&nbsp;
<!-- 					<h:link id="termsOfUseLink" outcome="termsOfUse.xhtml?lang=#{sessionBean.languageCode}" target="_blank" style="color:#675C53" value="Terms of Use"/> -->
					&nbsp;
<!-- 					<h:link id="termsOfConsentLink" outcome="consent.xhtml" style="color:#675C53" value="Terms of Consent" rendered="#{sessionBean.loggedIn &amp;&amp; sessionBean.isPlatformUser &amp;&amp; !sessionBean.needsConsent}"/> -->
				</div>
				<div class="rightFoot" ondblclick="window.open('http://www.pdininthhouse.com', '_blank')" onclick="window.open('http://www.kornferry.com', '_blank')">www.kornferry.com</div>
			</ui:insert>
		</div>
		<div class="clearBoth"></div>
	</div>

<!-- 	<p:dialog  -->
<!-- 		resizable="false"  -->
<!-- 		modal="true" -->
<!-- 		widgetVar="pleaseWaitDialog" -->
<!-- 		header="Please wait..."  -->
<!-- 		draggable="false"  -->
<!-- 		closable="false" -->
<!-- 		showEffect="fade" -->
<!-- 		hideEffect="puff"> -->
<!-- 		<p:graphicImage value="#{resource['images/ajaxloadingbar.gif']}" /> -->
<!-- 	</p:dialog>		 -->
	
</h:body>
</html>
